// @import 'pesticide';

// device resolution
$phone: 480px; // fonts & space breakpoint
$xsm: 540px;
$sm: 640px; // layout breakpoint
$tablet: 768px; // fonts & space breakpoint
$laptop: 960px; // layout breakpoint
$desktop: 1280px;
$hd: 1440px;

// space
$app-width: 1280px;
$app-gap: 15px;

// colors
